*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-yellow-hero-bg: #ffc017;
  --color-black-default: #191919;
  --color-green: #1a8917;
}

body {
  font-size: 1.4rem;
}

.form-title {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  text-decoration: underline;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group-flex {
  display: flex;
  justify-content: space-between;
}

.form-group-width-fix {
  width: 45%;
}

.form-group__label {
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.form-group__text-input {
  border: none;
  padding: 1rem 2rem;
  border-radius: 100px;
  font-weight: bold;
}

.submit-btn {
  display: block;
  min-width: 100%;
  padding: 1.5rem 2rem;
  background-color: var(--color-green);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 100px;
  text-transform: capitalize;
  cursor: pointer;
}

.form-guide {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}
